:root {
  --dark-violet:hsl(256, 26%, 20%);
  --gray-blue:hsl(216, 30%, 68%);
  --very-dark-violet:hsl(270, 9%, 17%);
  --dark-gray-violet:hsl(273, 4%, 51%);
  --light-gray:hsl(0, 0%, 98%);
}

/* Variables SASS */
  $dark-violet:hsl(256, 26%, 20%);
  $gray-blue:hsl(216, 30%, 68%);
  $very-dark-violet:hsl(270, 9%, 17%);
  $dark-gray-violet:hsl(273, 4%, 51%);
  $light-gray:hsl(0, 0%, 98%);
